// @import url(./variables.css);

@mixin headline-1() {
  font-size: var(--font-size-h1);
  font-style: var(--font-style-h1);
  font-weight: var(--font-weight-h1);
  line-height: var(--line-height-h1);
}

@mixin headline-2() {
  font-size: var(--font-size-h2);
  font-style: var(--font-style-h2);
  font-weight: var(--font-weight-h2);
  line-height: var(--line-height-h2);
}

@mixin headline-3() {
  font-size: var(--font-size-h3);
  font-style: var(--font-style-h3);
  font-weight: var(--font-weight-h3);
  line-height: var(--line-height-h3);
}

@mixin headline-4() {
  font-size: var(--font-size-h4);
  font-style: var(--font-style-h4);
  font-weight: var(--font-weight-h4);
  line-height: var(--line-height-h4);
}

@mixin headline-5() {
  font-size: var(--font-size-h5);
  font-style: var(--font-style-h5);
  font-weight: var(--font-weight-h5);
  line-height: var(--line-height-h5);
}

@mixin paragraph-regular() {
  font-size: var(--font-size-paragraph);
  font-style: var(--font-style-paragraph);
  font-weight: var(--font-weight-paragraph);
  line-height: var(--line-height-paragraph);
}

@mixin paragraph-small() {
  font-size: var(--font-size-small);
  font-style: var(--font-style-small);
  font-weight: var(--font-weight-small);
  line-height: var(--line-height-small);
}
