.loading {
  position: relative;
  flex: 0 0 36px;
  display: flex;
  align-self: center;
  height: 36px;
  animation: shake 1.25s cubic-bezier(.36, .07, .19, .97) 3;
}

/* Animation */
@keyframes shake {
  0% {
    transform: translate(0, 0) rotate(0);
  }

  20% {
    transform: translate(-10px, 0) rotate(-20deg);
  }

  30% {
    transform: translate(10px, 0) rotate(20deg);
  }

  50% {
    transform: translate(-10px, 0) rotate(-10deg);
  }

  60% {
    transform: translate(10px, 0) rotate(10deg);
  }

  100% {
    transform: translate(0, 0) rotate(0);
  }
}
