.dialog {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: auto;
  margin: var(--space-6) auto 0;
  padding: var(--space-4);
  gap: var(--space-4);
  max-width: 480px;
  min-height: 250px;
  background-color: var(--color-background);
  border-radius: var(--border-radius);
  box-sizing: border-box;
}

button {
  width: 84px;
  height: 36px;
  border-radius: var(--border-radius-button);
  border: 0;
  margin: auto;
  cursor: pointer;
}

